.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color:rgb(47, 206, 255);
  margin-bottom: 50px;
  font-weight: bold;
  font-family: cursive;
  background-color: black;
  padding: 10px;
}
